.navbar-brand{
    color: white !important;
}
@media (min-width: 768px){
    .nav-container {
        width: 734px;
    }
}
@media (min-width: 992px){
    .nav-container {
        width: 900px;
    }
}
@media (min-width: 1200px){
    .nav-container {
        width: 1150px;
    }
}
.nav-container{
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/** Google Maps **/
#map {
    width: 100%;
    height: 300px;
    background-color: grey;
}

.sub-content{
    margin-left: 3em;
}
.header-img{
    max-width:100%;
    height: auto;
}
